.container{
  display: grid;
  height:auto;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.2rem;
}



@media only screen and (max-width:560px) {
  .container{
    display: grid;
    height:auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    grid-gap: 0.2rem;
  }
}

.block-color .card-row {
  background: #333;

}

.block-color {
  background: #333;
  color: #fff;
}

.textcolor{
  color:white;
  font-size: 15px;
}

.color-column{
  margin: 15px;
}

.bg-background-base {
    background: #000000 !important;
}

.on_Primary_disabled{
  background: #CC9497 !important;
}

.on_primary_medium{
  background: #FFB9BE !important;
}

.on_primary_high{
  background: #FFFFFF !important;
}

.txt-color{
  color:#000;
}

.block-color .card-row {
    background: #333;
}
.block-color .card-row {
    background: #333;
}
.card-row {
    float: left;
    width: 100%;
}

/*.background-base {
    border: 18px #000000 solid;
    padding: 9px 0px 9px 0px;
    margin: 15px;
}

.surface-primary{
  border: 18px #212121 solid;
  padding: 9px 0px 9px 0px;
  margin: 25px 15px 15px 15px;
}

.brand-primary{
  border: 18px #AA1721 solid;
  padding: 9px 0px 9px 0px;
  margin: 15px;
}

.brand-secondary{
  border: 18px #17AAA0 solid;
  padding: 9px 0px 9px 0px;
  margin: 15px;
}
*/
.background-base,.surface-primary,.brand-primary,.brand-secondary,.brand-tertiary,.emphasis-high,.emphasis-low,.emphasis-medium,.Primary_disabled,.primary_medium,.primary_high,.overlay_low,.overlay_medium,.overlay_high{
  font-size: xxx-large;
}

.emphasis-low{
  border: 18px #7d7777 solid;
  padding: 9px 0px 9px 0px;
  margin: 15px;
  background-color: #7d7777;
}

.emphasis-medium{
  border: 18px #a09d9d solid;
  padding: 9px 0px 9px 0px;
  margin: 15px;
  background-color: #a09d9d;
}

.emphasis-high {
    border: 18px #cec5c5 solid;
    padding: 9px 0px 9px 0px;
    margin: 15px;
    background-color: #cec5c5;
}

.overlay_low {
    border: 10px #584e4e8c solid;
    padding: 9px 0px 9px 0px;
    margin: 15px;
    background-color: #826f6f8c;
}

.overlay_medium{
  border: 10px #262626 solid;
  padding: 9px 0px 9px 0px;
  margin: 15px;
  background-color: #262626;
}

.overlay_high{
  border: 10px #000 solid;
  padding: 9px 0px 9px 0px;
  margin: 15px;
  background-color: #000;
}

.textsize{
  font-size: 25px;
}
